


body {
      
     overflow-x: hidden;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
   
     
}

  /* @media screen and (max-width : 480px){
    specials {

   
    background-color: black;
   }
  } */


  .hero{
     width: auto;
    background-color:#495e57;
   
  }
  .Testemonial-container {
  
     background-color: #A09999;
     padding-bottom: 85px;
  }



  #chicago-bg{
    width: auto;
     background-color: #CBC5C5;
  }


  #chicago-bg h2{
    font-family: "Caladea";
    color: #495e57;

  }
  #testmonial{
    font-family: "Caladea";
    color: #283f37;
  }
  #footer-bg{
    display: flex;
    justify-content: center;
     color:white;
     background-color: #070606;
  }
  #footer-bg a{
  
   text-decoration: none;
   color:white;
 
 }
 #footer-bg h4{
   color:red
 }
 .card {
  display: flex;

  width: 70%;

 }
 #new-cont{
     position: relative;
     right: 12rem;
 }


 /* #reservation-container{
  border:1px solid red;
      position: relative;
      top:55rem;
      display: flex;
       background-color: #283f37;
       
     
    
      width:100%;
   
 }  */


 #confirmation{
    max-width: 100%;
     position: relative;
     top:45rem;
     right: 12rem;
     text-align: center;
 }
 #dtgo{
  position: relative;
 
  text-align: center;
}


 @media (max-width:992px){


  .hero .row {
       
      display: flex;
      flex-direction: column;
   
  }

  .hero h2{
        font-size: 150px;
        margin-bottom: 12rem;
     
  }
   #Reserve-Table-btn{
       display: none;
    }
    .hero h5{
        position: relative;
        bottom: 200px;
         font-size: 30px;
         font-weight: bolder;

         
    }
.hero p{
  position: relative;
     bottom: 190px;
    width: fit-content;
     font-size: 30px;
     background-color: rgba(0, 0, 0, 0.342);
  
}
/* .hero{
   background-image: url("Component/images/restauranfood.jpg") ;
   background-size: cover;
} */
.hero-image{
   display: none;
}
#new-cont {
   position: relative;
   right: 13rem;
     min-width: auto;
}
 
 #second_image{
   display: none;
  
}
#first_image{
  
  position: relative;
  width: 100%;
    
     left: 2px;
   

}
#chicago-bg{
    border:12px solid rgb(255, 208, 0)
}
#chicago-bg h2{
   font-size: 100px;
  position: relative;

   
}



#chicago-bg p{
    font-size: 30px
}
#chicago-bg h5{
  font-size: 30px; 
}
#restaurantfood{
display: none;
}
#footer-bg{
    position: relative;
     display: flex;
     justify-content: start;
        padding-right: 122px;
}
#reservation-container h2{
  font-size: 12px;
}

     

#dtgo{
    position: relative;
    bottom: 110px;
    text-align: center;
}

}
  @media (max-width:860px) {
    #new-cont {
      position: relative;
      right: 13.5rem;
        min-width: 50%;
   }
   #confirmation{
     position: relative;
     top: 52rem;
     
   }
  }
 @media(max-width:478px){
     
    body{
      
        overflow-x: hidden;
    }
   #two-text {
     position: relative;
       
     display: none;
   
     font-size: 3rem;


        
    }
    .hero{
       max-width: 100%;
       text-align: start;
       background-image: url("Component/images/wew.png");
        background-size: cover;
      
       height: 300px;
    }

  /* #testmonial-row{
     
    display: flex;
    gap: 2rem;

    
  } */
  /* #reservation-container{
     background-color: red;
     position: relative;
       right: 15rem;
      
   
     
  } */
  #reservation-container h2{
        font-size: 12px;
  }
  /* #reservation-container{
      position: relative;
      right: 14rem;
      width: 30rem;
  } */
  #tst-gap{
    display: flex;
    gap:15px
  }
  #special-con{
      display: flex ;
      justify-content: space-around;
      gap: 40px;
   
  }
  #new-cont{
     position: relative;
      left: -3.8rem;
    
     min-width:100%;

  }
  #confirmation{

      position: relative;
      top: 21rem;
      left: -4rem;
     
  }
  #dtgo h3{
     font-size: 12px;
  }
 }
